sys-ecom-api/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="${http.path}/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler ref="apikit_error_handler" />
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <!-- <flow name="post:\cart:application\json:api-config">
        <flow-ref doc:name="create-cart-flow" doc:id="79a81fa1-7d55-4fce-81fb-0a2215af91f3" name="create-cart-flow" />
        <error-handler ref="common-error-handler" />
    </flow>
    <flow name="post:\invoice:application\xml:api-config">
        <flow-ref doc:name="get-invoice-flow" doc:id="6868805c-e844-4e91-b223-101da01ebead" name="get-invoice-flow" />
    </flow> -->
    <flow name="get:\invoice\(invoiceId):api-config">
        <flow-ref doc:name="get-invoice-by-id-flow" doc:id="2c4ddcae-d6c3-4f62-8ef7-e742b13f841a" name="get-invoice-by-id-flow" />
        <error-handler ref="common-error-handler" />
    </flow>
    <flow name="post:\order:application\json:api-config">
        <flow-ref doc:name="get-order-flow" doc:id="95ed2fac-8d5e-492f-80e7-944003f97b48" name="get-order-flow" />
        <error-handler ref="common-error-handler" />
    </flow>
    <flow name="post:\cart-router:application\json:api-config" doc:id="d3377007-406d-4e17-a794-126ec45b7e6d">
        <flow-ref doc:name="cart-router-flow" doc:id="be9d9327-c475-407e-ab9b-92ea0e88ee14" name="cart-router-flow" />
    </flow>
    <flow name="post:\order-router:application\json:api-config">
		<flow-ref doc:name="order-router-flow" doc:id="7495da8a-aa76-4301-8685-42a867775550" name="order-router-flow"/>
    </flow>
</mule>
