sys-ecom-api/src/main/mule/sys-ecom-api-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:kafka="http://www.mulesoft.org/schema/mule/kafka"
	xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/kafka http://www.mulesoft.org/schema/mule/kafka/current/mule-kafka.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	
	

	<!-- <sub-flow name="generatePDF" doc:id="ecde717f-29d2-452e-b8be-f05a7970e39a" >
		<ee:transform doc:name="Transform Message" doc:id="1992be05-9c1e-4f95-ab9b-ffc58046a8ee">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java

var stringObj= write(payload ,"application/json")

//"OrderDetails:  \n\n" ++ trim ((((stringObj replace "{" with "") replace "}" with "") replace "[" with "") replace "]" with "")
stringObj]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<java:new constructor="JsonToPDF()" doc:name="New" doc:id="3da25c30-5bee-4726-902b-a4dfd18a16e7" class="com.yash.utility.JsonToPDF" target="JsonToPdf" />
		<java:invoke doc:name="Invoke" doc:id="85c33986-8587-488e-829a-f36dd35b5440" instance="#[vars.JsonToPdf]" class="com.yash.utility.JsonToPDF" method="jsontopdf(String , String)" outputMimeType="application/octet-stream">
			<java:args><![CDATA[#[{
        filename: "C:\\test\\test1.pdf",
        content: payload
      }]]]></java:args>
		</java:invoke>
		<ee:transform doc:name="Transform Message" doc:id="d2efb22d-3ee2-4572-8e4c-c1c4424853be">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/octet-stream

payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow> -->
	<sub-flow name="orderJsonToPDF" doc:id="b28bcaf2-c308-410a-b6f5-3451bd0583d7" >
		<ee:transform doc:name="Transform Message" doc:id="244674b5-a5fa-466b-9595-a4aa19388729" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var stringObj= write(payload ,"application/json")
---
//"OrderDetails:  \n\n" ++ trim ((((stringObj replace "{" with "") replace "}" with "") replace "[" with "") replace "]" with "")
stringObj replace  ".00" with ""]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="originalPayload" ><![CDATA[%dw 2.0
output application/java
var stringObj= write(vars.originalPayload ,"application/json")
---
//"OrderDetails:  \n\n" ++ trim ((((stringObj replace "{" with "") replace "}" with "") replace "[" with "") replace "]" with "")
stringObj]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<java:new constructor="OrderJsonToPDF()" doc:name="New" doc:id="77ab16ad-2e71-4d54-92af-aff774cf7642" class="com.yash.utility.OrderJsonToPDF" target="JsonToPdf" />
		<java:invoke doc:name="Invoke" doc:id="6709bf4d-7d44-4dd7-870f-3e08c63e9953" instance="#[vars.JsonToPdf]" class="com.yash.utility.OrderJsonToPDF" method="jsontopdf(String , String,String)" outputMimeType="application/octet-stream">
			<java:args><![CDATA[#[{
        filename: "C:\\test\\test1.pdf",
        content: payload,
        varr: vars.originalPayload
        
      }]]]></java:args>
		</java:invoke>
		<ee:transform doc:name="Transform Message" doc:id="db5f0167-6df1-41a3-9c88-f20546801bf2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/octet-stream
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow> 
	<!-- <flow name="get-order-old-flow" doc:id="084a10b0-a3cc-44b7-a346-d983d1bb6fd9" >
		<logger level="INFO" doc:name="Logger" doc:id="16f785a0-325b-4b23-9b2e-bdc3359bea81" message="#[attributes.queryParams.'type']"/>
		<set-variable value="#[attributes.queryParams.'type']" doc:name="type" doc:id="6e7f3ba0-47fd-421c-9b75-78dac57324b9" variableName="type"/>
		<db:select doc:name="Select" doc:id="6e00cfba-a501-4f1f-bb69-e0d43d46de42" config-ref="MYSQL_Database_Config">
			<db:sql >SELECT o.orderId, op.productId, op.quantity, p.price, p.productName, o.createdBy, o.orderDate, o.userId, o.productStoreId from e_com_mule_db.order o LEFT JOIN e_com_mule_db.orderproduct op ON o.orderId = op.orderId LEFT JOIN e_com_mule_db.product p ON op.productId = p.productId  WHERE o.orderId=:orderId;</db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="originalPayload var" doc:id="3a618f36-f845-4f54-a8f9-382f8e740977" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var ordeHeader= {
	"orderId": payload[0].orderId,
	"userId": payload[0].userId,
	"orderDate": payload[0].orderDate,
	"createdBy":payload[0].createdBy,
	"productStoreId":payload[0].productStoreId
}

{
	(ordeHeader),
	products: payload map ($  ordeHeader)
}
]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="bb8a6046-d2d6-4b43-96b8-b36c20956591" >
			<when expression="#[(sizeOf(payload))&gt;0]">
				<choice doc:name="Choice" doc:id="fe3a8150-8466-43ac-9837-0aae728a4504">
			<when expression="#[vars.'type' != null and vars.'type' == &quot;pdf&quot;]">
				<flow-ref doc:name="orderJsonToPDF" doc:id="01138c36-9bc0-4727-b6c0-38196aaef186" name="orderJsonToPDF" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="ef2dd76a-d5c9-4969-b537-13227a431eb7" message="Processed!" />
			</otherwise>
		</choice>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="cd8a36b9-c6ab-4bb4-b463-54aeec1270ce" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json

{
    orderId: vars.orderId,
    status: "Order Not Found"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="get-invoice-flow" doc:id="a603f8a7-1384-4a2f-9d5d-71b0f29bc352" >
		<logger level="INFO" doc:name="Logger" doc:id="510c3941-8376-47c0-a0a5-3fd06d8a070f" />
	</flow>
	<flow name="create-cart-flow" doc:id="802219ae-afa6-42f0-b3e4-d7ecab3102ef" >
		<ee:transform doc:name="product query" doc:id="95786efb-641b-4a6d-9c8a-aeed95c6d321" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="query" ><![CDATA[%dw 2.0
output application/java
var productId= (payload.products.*productId) joinBy "','" 

"select productId,quantity from product where productId in ('" ++ productId ++ "' )"]]></ee:set-variable>
				<ee:set-variable variableName="originalPayload" ><![CDATA[%dw 2.0
output application/json

payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Select" doc:id="e5f2d0b1-e41b-4319-80a2-857ab6aba6e8" config-ref="MYSQL_Database_Config">
			<db:sql >#[vars.query]</db:sql>
		</db:select>
		<ee:transform doc:name="product inventory check" doc:id="a5d1315a-f08d-4f0f-8dd7-d0d03f34cd11" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

(payload map using (product= $) {
	(vars.originalPayload.products filter (($.productId == product.productId) and $.quantity >= product.quantity) map  {
		dd:$.productId,
		qunatity:$.quantity
	})
}) filter $ != {}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="orderTableResponse" ><![CDATA[%dw 2.0
output application/json

payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="59ae99bf-b784-42e5-8389-8a3ff1097fbd" >
			<when expression="#[sizeOf(payload) != 0]">
				<logger level="INFO" doc:name="Logger" doc:id="4e9ca207-02b2-4dee-b186-10f69f00579b" />
				<ee:transform doc:name="out of Stock products resp" doc:id="df217d9a-7db2-4b62-9613-b86f8cabe107" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json

{
	Status:"order Canceled",
	Reason: "product is out of stock"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="order insert query" doc:id="e5891b33-b9aa-47ed-8574-c96de8f05442">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="query" ><![CDATA[%dw 2.0
output application/java
var payload01 = vars.originalPayload
var data =  payload01.orderId as Number ++ ",'" ++ payload01.orderName ++ "','"  ++ payload01.orderDate ++ "','" ++ payload01.createdBy ++ "','" ++ payload01.productStoreId ++ "','" ++ payload01.userId

"INSERT INTO e_com_mule_db.order (orderId, orderName, orderDate, createdBy, productStoreId, userId) values (" ++ data ++ "');"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<db:insert doc:name="Insert" doc:id="c2b3f44f-ac52-4255-b2a1-38eb974e6ef1" config-ref="MYSQL_Database_Config">
					<db:sql >#[vars.query]</db:sql>
				</db:insert>
				<ee:transform doc:name="query for association table" doc:id="3884b4fc-260e-47ec-8622-011a92724635">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="query" ><![CDATA[%dw 2.0
output application/json

(vars.orderTableResponse map using (product= $) {
	(vars.originalPayload.products filter (($.productId == product.productId) and $.quantity <= product.quantity) map  {
		orderId: vars.originalPayload.orderId,
		productId:$.productId,
		quantity:$.quantity
	})
}) filter $ != {}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<db:bulk-insert doc:name="Bulk insert" doc:id="d3b7103b-cb64-4a60-942e-70c487d60ca9" config-ref="MYSQL_Database_Config" >
					<db:bulk-input-parameters ><![CDATA[#[vars.query]]]></db:bulk-input-parameters>
					<db:sql >INSERT INTO e_com_mule_db.orderproduct (orderId, productId, quantity) values (:orderId,:productId , :quantity);</db:sql>
				</db:bulk-insert>
				<ee:transform doc:name="product table query" doc:id="b2dd5e4c-3d16-4127-8a1f-60823dd44b62">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="query" ><![CDATA[%dw 2.0
output application/json

(vars.orderTableResponse map using (product= $) {
	(vars.originalPayload.products filter (($.productId == product.productId) and $.quantity <= product.quantity) map  {
		orderId: vars.originalPayload.orderId,
		productId:$.productId,
		quantity:(product.quantity - $.quantity)
	})
}) filter $ != {}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<db:bulk-update doc:name="Bulk update" doc:id="d914ec7c-1c8c-4707-a269-875cfe1d5c6e" config-ref="MYSQL_Database_Config">
					<db:bulk-input-parameters ><![CDATA[#[vars.query]]]></db:bulk-input-parameters>
					<db:sql >UPDATE e_com_mule_db.product SET quantity = :quantity  WHERE productId = :productId;</db:sql>
				</db:bulk-update>
				<ee:transform doc:name="order response" doc:id="b496a456-e3cd-47e7-bbe8-56072899021c">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json

{
	status:"Order has been placed successfully",
	orderId:vars.originalPayload.orderId 
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="fb8d7655-f409-4b43-9e5d-2d91cfc302ee" message="processing completed  #[payload]"/>
	</flow>
 -->	<flow name="get-order-flow" doc:id="709bb979-222b-4ea7-8a05-4589976118f5">
		<logger level="INFO" doc:name="Logger" doc:id="466de728-0332-4bf5-a22c-248b636f93ce" />
		<set-variable value="#[attributes.queryParams.'type']" doc:name="type" doc:id="9704429c-ad06-4c36-86e4-f2931bdf9ed9" variableName="type" />
		<set-variable value="#[payload]" doc:name="originalPayload" doc:id="20fb2599-1efb-43f1-b6d9-3ac10a80ccd6" variableName="originalPayload"/>
		<http:request method="GET" doc:name="getorder for orderid" doc:id="9902e518-f49b-49ae-a0f4-8d7ee7d591fd" config-ref="Spring_Http_Request_configuration" path="${spring.order.path.getOrder}">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"orderId" : payload.orderId
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="response" doc:id="a9dafb69-7ffb-4830-821c-5e1137836096">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="6343b514-8521-41b3-bc56-214adf089175" >
			<when expression="#[vars.'type' != null and vars.'type' == &quot;pdf&quot;]">
				<flow-ref doc:name="orderJsonToPDF" doc:id="c036dd9d-72d9-4b68-bc85-3f671b049a5e" name="orderJsonToPDF"/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="INFO LOGGER: Success" doc:id="f1b10e29-efba-4378-9025-56ca60080ea7" />
			</otherwise>
		</choice>
	</flow>
	<flow name="get-invoice-by-id-flow" doc:id="937c6095-a9b7-476f-a2de-8f13ddd69cb4" >
		 <set-variable value="#[attributes.uriParams.invoiceId]" doc:name="invoiceId" doc:id="34a400f6-a4b2-4b07-ab9f-6d10b1bd1e2b" variableName="invoiceId"/>
		<set-variable value="#[attributes.queryParams.'type']" doc:name="type" doc:id="98c113b8-eeb4-4b07-b02c-368a72d55d27" variableName="type"/>
		<http:request method="GET" doc:name="get invoice call to sap api" doc:id="3d037106-79eb-47c5-a354-c798c0cf9ef1" config-ref="SAP_API_HTTP_Configuration" path="${sap.path}/{invoiceId}">
			<http:headers ><![CDATA[#[output application/java
---
{
	Authorization : p('sap.auth')
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	invoiceId : vars.invoiceId
}]]]></http:uri-params>
			<http:response-validator >
				<http:success-status-code-validator values="200,404" />
			</http:response-validator>
		</http:request>
		
		<ee:transform doc:name="Transform Message" doc:id="b5a7e3c8-965a-4f3c-bb5f-93885456e075" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var old=({"id": vars.invoiceId }) ++ (payload - 'id')
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7fbb0d3b-f0f2-463c-a534-d0ac95a36103" message="#[attributes.queryParams.'type']"/>
		<choice doc:name="Choice" doc:id="d6d0727d-3615-4ddd-beed-4484d92927d8" >
			<when expression="#[vars.'type' != null and vars.'type' == &quot;pdf&quot;]">
				<ee:transform doc:name="invoicepdf url" doc:id="72f07490-19d3-4505-97b4-bab6e397ffa1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	url:payload.invoice_pdf
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[message.attributes.statusCode == 404]">
				<ee:transform doc:name="404" doc:id="a7c64fa7-1aa5-4e50-a7a8-a7a14b339aab" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	invoiceId: vars.invoiceId,
	message: "No Invoice Found!!! Please validate your invoiceId"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="42a5c298-bdab-4124-9f20-b484c81e29d6" message="processed!!!!!!!!!!"/>
			</otherwise>
		</choice>
	</flow>
	<!-- <flow name="kafka-producer-flow" doc:id="7f743cf5-5e1c-484d-9219-5aba9e778bb1" >
		<http:listener doc:name="http" doc:id="d4f5a071-e3ea-4fd3-b0ec-38ddf25f33d3" config-ref="HTTP_Listener_config" path="kafka"/>
		<logger level="INFO" doc:name="Publishing messages to kafka topic" doc:id="4439458e-b2f3-4270-86f5-e9d688eef7e5" message="Publishing messages to kafka topic"/>
		<kafka:producer doc:name="Publish Message" doc:id="7751bbd6-c3c3-4958-b422-85ccb99c637b" config-ref="Apache_Kafka_Producer_configuration" topic="muleesb" key="#[now().milliseconds]"/>
		<logger level="INFO" doc:name="Published to topic" doc:id="43b18f00-5c7c-4d7e-938c-ed3fa9ce33c5" message="Published to topic"/>
	</flow> -->
<!-- 	<flow name="sys-ecom-api-implFlow" doc:id="f2adde70-c8d0-4647-9072-004cedd7e68e" >
		<kafka:consumer doc:name="Message Consumer" doc:id="b1590b72-87c6-47df-adfc-bd605234ab7b" config-ref="Apache_Kafka_Consumer_configuration" topic="muleesb"/>
		<logger level="INFO" doc:name="Subscribing Message from Kafka Topic" doc:id="54ba7070-4146-401d-ac95-bdb6525ec009" message="Subscribing Message from Kafka Topic for key #[attributes.key]"/>
		<ee:transform doc:name="path" doc:id="3a2a4a0d-f4f0-44e4-b551-01aa5c6f823f" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="path" ><![CDATA[%dw 2.0
output application/java

"D:\/test\/" ++ attributes.key ++ ".txt"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<file:write doc:name="Write" doc:id="19e87a4f-dda5-4786-8c38-809bb5dfda4b" config-ref="File_Config" path='#[vars.path]'/>
	</flow> -->

	</mule>
