exp-ecom-api/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <!-- <apikit:config name="api-config" api="api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
     -->
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler ref="apikit_error_handler" />
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\invoice\(invoiceId):api-config">
		<flow-ref doc:name="get-invoice-by-invoiceid-flow" doc:id="a2078895-814b-48c3-8f8a-9963ec71eb08" name="get-invoice-by-invoiceid-flow"/>
    </flow>
    <flow name="post:\cart:application\json:api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "BadRequest",
  errorDescription: "The request could not be understood by the server due to invalid payload"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\invoice:application\json:api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "BadRequest",
  errorDescription: "The request could not be understood by the server due to invalid payload"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\order:application\json:api-config">
        <flow-ref doc:name="router-flow" doc:id="68324b9e-7621-4861-aaca-7f161f7663bc" name="router-flow"/>
    </flow>
    <flow name="get:\cart\promo:api-config">
		<flow-ref doc:name="cart-router-flow" doc:id="19fd7406-09fd-45e3-82a8-4a6fce0f6f0d" name="cart-router-flow"/>
    </flow>
    <flow name="post:\cart\freight:application\json:api-config">
        <flow-ref doc:name="cart-router-flow" doc:id="5b7fd34c-67f3-4a89-96d7-c46663b1f3bb" name="cart-router-flow"/>
    </flow>
    <flow name="get:\cart\search:api-config">
        <flow-ref doc:name="cart-router-flow" doc:id="34608223-3dfb-4111-aa21-cee04cf29cd1" name="cart-router-flow" />
    </flow>
    <flow name="post:\cart\init:application\json:api-config">
        <flow-ref doc:name="cart-router-flow" doc:id="a0d0186d-4567-42f7-9a73-bba60bf03c04" name="cart-router-flow" />
    </flow>
    <flow name="post:\cart\refresh:application\json:api-config">
        <flow-ref doc:name="cart-router-flow" doc:id="427077e5-4a64-4ad4-9822-84858d5b6e50" name="cart-router-flow" />
    </flow>
    <flow name="post:\userDetails:application\json:api-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "BadRequest",
  errorDescription: "The request could not be understood by the server due to invalid payload"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\order\list:api-config">
		<ee:transform doc:name="Transform Message" doc:id="e5509110-62e6-4748-bc5b-3343ff985cc4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"dummy":"dummy"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="order-router-flow" doc:id="89d71992-f3b6-4388-b693-1636f6502fbf" name="order-router-flow"/>
    </flow>
    <flow name="post:\order\create:application\json:api-config">
        <flow-ref doc:name="order-router-flow" doc:id="79ed8fa7-f7ec-4451-a0ec-c4d0c65f7677" name="order-router-flow"/>
    </flow>
</mule>
