exp-ecom-api/src/main/mule/exp-ecom-api-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="router-flow" doc:id="82e3dfe6-e58d-4232-b4fc-93d7277f61e2" >
		<logger level="INFO" doc:name="Info Logger: processing get order flow" doc:id="665a851d-7dd8-47fd-8406-d2bbbd7a465f" message="exp layer: processing order for order id #[payload.orderId]"/>
	
		<http:request method="POST" doc:name="process:get order" doc:id="18cbb9f3-4285-4347-bdea-8a71979f180e" config-ref="ProcessHttp_Request_configuration" path="/shipments">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_id" : p('process.auth.clientId'),
	"client_secret": p('process.auth.clientSecret'),
	 "Content-Type" : "application/json"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"type" : attributes.queryParams.'type',
	resourceName : attributes.maskedRequestPath
}]]]></http:query-params>
			<http:response-validator >
				<http:success-status-code-validator values="200" />
			</http:response-validator>
		</http:request>
		<logger level="INFO" doc:name="Info Logger: processing completed " doc:id="1b1caab9-8f9d-4980-8cd9-c9583f718e41" message="exp layer: processed order for order id"/>
	</flow>
	<flow name="get-invoice-by-invoiceid-flow" doc:id="5796b82a-181c-4bfe-a4a3-60782b6ca7d4" >
		<logger level="INFO" doc:name="INFO Logger- Getting invoice details for Invoice Id" doc:id="0ed9b870-9bb1-44d7-8f73-cbbae52578ed" message="Getting invoice details for Invoice Id"/>
		<http:request method="GET" doc:name="system:getInvoiceById" doc:id="b523c824-a3fb-47b6-94d5-8cecef97d3d3" config-ref="SystemHttp_Request_configuration" path="/invoice/{invoiceId}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_id" : p('process.auth.clientId'),
	"client_secret": p('process.auth.clientSecret'),
	 "Content-Type" : "application/json"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	invoiceId : attributes.uriParams.invoiceId
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
		"type" : attributes.queryParams.'type'
}]]]></http:query-params>
		
</http:request>
	</flow>
	<flow name="cart-router-flow" doc:id="fd27438d-b23d-4395-b33b-30d08584817f" >
		<logger level="INFO" doc:name="INFO Logger: Cart Processing Started" doc:id="5fc02b73-0d12-47b8-845e-512f1d296931" message="Cart Processing Started!!!!!! "/>
		<http:request method="POST" doc:name="System:Router for Cart API" doc:id="87d0775b-f640-4477-817b-57e446f1388a" config-ref="SystemHttp_Request_configuration" path="/cart-router">
					<http:query-params><![CDATA[#[output application/java
---
{
	"relativePath" : message.attributes.relativePath,
	"method" : message.attributes.method
}]]]></http:query-params>
				</http:request>
	</flow>
	<flow name="order-router-flow" doc:id="940a60e1-7886-41ac-9ff1-112d012f6cb9" >
		<logger level="INFO" doc:name="INFO Logger: Order Processing Started" doc:id="080633f5-5508-4c00-89c7-afbab4048d45" message="Order Processing Started!!"/>
		<http:request method="POST" doc:name="System:Router for Order API" doc:id="fd7f0aa0-5c41-4b52-8970-545d26818f19" config-ref="SystemHttp_Request_configuration" path="/order-router">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"relativePath" : message.attributes.relativePath,
	"userId" : message.attributes.queryParams.userId
}]]]></http:query-params>
		</http:request>
	</flow>
</mule>
